/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: maroon;
  color: gray;
}

.jumbotron {
  background-color: maroon;
}

.navbar {
  background-color: gray;
  color: maroon;
  border-color: maroon;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: grey;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: maroon;
    background-color: white;
}

.navbar .nav>li>a {
    color: black;
}

.nav a {
  color: maroon;
}

.container-fluid {
  background-color: gray;
}
#home {
  text-align: center;
  font-family: 'Linden Hill', serif;
}
h2 {
  margin-left: 10px;
}

p {
  margin-left: 13px;
}
.carousel-inner img{
       width:100%;
      max-height: 500px;
     }

#quote {
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  margin-left: 25%;
}

#author {
  font-family: 'Linden Hill', serif;
  font-size: large;
  margin-left: 25%;
}

.tab-content {
  padding-left: 7px;
}
#stats dl{
  padding-top: 10px;
  margin:3px;
}

#stats dd {
  font-family: 'Linden Hill', serif;
  margin-left: 13px;
  padding:10px;
}

#map {
  padding-left: 7px;
}

#map-container { height:300px; }

#links {
  padding-left: 7px;
}
